
body {
  padding-bottom: 20px;
}

em {
  font-style: normal;
  text-decoration: underline;
}

.jumbotron {
  margin-top: -20px;
  border-bottom: 1px solid #dae2e4;
}

.media-object {
  max-width: 200px;
  margin-bottom: 10px;
}

.episode {
  border-left: 5px solid #111;
  padding-left: 10px;
}

.alert {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

.alert.top-right {
  position: fixed;
  top: 50px;
  right: 0;
  margin: 20px;
  z-index: 1050;
  outline: none;
}

.close {
  padding-left: 10px;
}

.btn {
  border-radius: 2px;
  margin-top: 20px;
  /* background-color: #2e86c1; */
}

.center-form {
  width: 500px;
  margin: 10% auto;
}

input {
  border-radius: 0;
}

.panel {
  border-color: #cfd9d7;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.panel-default > .panel-heading {
  color: #444;
  border-color: #cfd9db;
  font-weight: bold;
  font-size: 85%;
  text-transform: uppercase;
  background-color: #f6f6f6;
}

.label {
  display: inline-block;
  margin-bottom: 5px;
  padding: 4px 8px;
  border: 0;
  border-radius: 3px;
  font-size: 12px;
  transition: 0.1s all;
  -webkit-font-smoothing: antialiased;
}

.label-default {
  background-color: #e4e7ec;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  color: #90939a;
}

.label-default:hover {
  background-color: #90939a;
  color: #f4f6f8;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.login-title {
  padding: 30px 0px;
  color: #405970;
}

.login-icon {
  width: 200px;
  padding-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-components {
  padding: 0 70px;
}

.login-button {
  padding-bottom: 60px;
}
