<!DOCTYPE html>
<html lang="en">

<head>
    <title>Medical Network</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css\style.css">
    <link rel="stylesheet" type="text/css" href="css\jquery.json-viewer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="http://bitwiseshiftleft.github.io/sjcl/sjcl.js"></script>
    <script src="js/angular-module.js"></script>
    <script src="js/jquery.json-viewer.js"></script>
    <script src="js/encryption.js"></script>
    <script src="patientController.js"></script>
    <script src="https://dwmkerr.github.io/angular-modal-service/angular-modal-service.js"></script>

</head>

<body ng-app="myApp" ng-controller="myCtrl" onload="loaded()">

    <nav class>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
        </ul>
    </nav>

    <!--Modal Box to add health providers-->
    <div id="hpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Health Provider</h4>
                </div>
                <div class="modal-body">
                    <p>HID:
                        <input type="text" ng-model="healthProviderForm.id"> </p>
                    <p>Name:
                        <input type="text" ng-model="healthProviderForm.name"> </p>
                    <p>Phone:
                        <input type="text" ng-model="healthProviderForm.phone"> </p>
                    <p>Address:
                        <input type="text" ng-model="healthProviderForm.address"> </p>
                </div>
                <div class="modal-footer">
                    <button ng-click="submitHP()" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <!--Modal Box to add viewers-->
    <div id="viewerModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Viewer</h4>
                </div>
                <div class="modal-body">
                    <p>VID:
                        <input type="text" ng-model="viewerForm.id"> </p>
                    <p>Health Provider ID:
                        <input type="text" ng-model="viewerForm.healthProvider"> </p>
                </div>
                <div class="modal-footer">
                    <button ng-click="submitViewer()" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <!-- Record Modal-->
    <div id="recordModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Record</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>ID:
                            <input type="text" ng-model="recordForm.id"> </p>
                        <p>Date:
                            <input type="text" ng-model="recordForm.record_date"> </p>
                        <p>Code:
                            <input type="text" ng-model="recordForm.record_code"> </p>
                        <p>Reason Code:
                            <input type="text" ng-model="recordForm.record_reasonCode"> </p>
                        <p>Reason Description:
                            <input type="text" ng-model="recordForm.record_reasonDesc"> </p>
                        <p>Health Provider ID:
                            <input type="text" ng-model="recordForm.healthProvider"> </p>
                        <hr>
                        <p>Record type: 
                        <select ng-model="selectedRecord.type" ng-options="type for type in types">
                        </select> </p>
                    </div>

                    <!-- ALLERGIES -->
                    <div class="form-group" ng-show="selectedRecord.type=='Allergy'">
                        <p>Start Date:
                            <input type="text" ng-model="allergyForm.allergy_start"> </p>
                        <p>End Date:
                            <input type="text" ng-model="allergyForm.allergy_end"> </p>
                        <p>Code:
                            <input type="text" ng-model="allergyForm.allergy_code"> </p>
                        <p>Description:
                            <input type="text" ng-model="allergyForm.allergy_desc"> </p>
                    </div>

                    <!-- PROCEDURE -->
                    <div class="form-group" ng-show="selectedRecord.type=='Procedure'">
                        <p>Date:
                            <input type="text" ng-model="procedureForm.procedure_date"> </p>
                        <p>Code:
                            <input type="text" ng-model="procedureForm.procedure_code"> </p>
                        <p>Description:
                            <input type="text" ng-model="procedureForm.procedure_desc"> </p>
                        <p>Reason Code:
                            <input type="text" ng-model="procedureForm.procedure_reasonCode"> </p>
                        <p>Reason Description:
                            <input type="text" ng-model="procedureForm.procedure_reasonDesc"> </p>
                    </div>
                    <!-- OBSERVATION -->
                    <div class="form-group" ng-show="selectedRecord.type=='Observation'">
                        <p>Date:
                            <input type="text" ng-model="observationForm.observation_date"> </p>
                        <p>Code:
                            <input type="text" ng-model="observationForm.observation_code"> </p>
                        <p>Description:
                            <input type="text" ng-model="observationForm.observation_desc"> </p>
                        <p>Value:
                            <input type="text" ng-model="observationForm.observation_value"> </p>
                        <p>Unit:
                            <input type="text" ng-model="observationForm.observation_unit"> </p>
                    </div>

                    <!-- MEDICATION -->
                    <div class="form-group" ng-show="selectedRecord.type=='Medication'">
                        <p>Start Date:
                            <input type="text" ng-model="medicationForm.medication_start"> </p>
                        <p>End Date:
                            <input type="text" ng-model="medicationForm.medication_end"> </p>
                        <p>Code:
                            <input type="text" ng-model="medicationForm.medication_code"> </p>
                        <p>Description:
                            <input type="text" ng-model="medicationForm.medication_desc"> </p>
                        <p>Reason Code:
                            <input type="text" ng-model="medicationForm.medication_code"> </p>
                        <p>Reason Description:
                            <input type="text" ng-model="medicationForm.medication_desc"> </p>
                    </div>

                    <!-- IMMUNIZATION -->
                    <div class="form-group" ng-show="selectedRecord.type=='Immunization'">
                        <p>Date:
                            <input type="text" ng-model="immunizationForm.immunization_date"> </p>
                        <p>Code:
                            <input type="text" ng-model="immunizationForm.immunization_code"> </p>
                        <p>Description:
                            <input type="text" ng-model="immunizationForm.immunization_desc"> </p>
                    </div>

                    <!-- CONDITION -->
                    <div class="form-group" ng-show="selectedRecord.type=='Condition'">
                        <p>Start Date:
                            <input type="text" ng-model="conditionForm.condition_start"> </p>
                        <p>End Date:
                            <input type="text" ng-model="conditionForm.condition_end"> </p>
                        <p>Code:
                            <input type="text" ng-model="conditionForm.condition_code"> </p>
                        <p>Description:
                            <input type="text" ng-model="conditionForm.condition_desc"> </p>
                    </div>
                </div>
                <div class="modal-footer">
                        <button ng-click="submitRecord()" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
                </div>
                </br>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h4>Info Panel</h4>
        <p>Request URL: {{endpoint}} </p>
        <p>Response code: {{myStatus}} </p>

    </div>

    <!-- Tab Nav Bar-->
    <ul class="nav nav-tabs">
        <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Assets
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#patient" data-toggle="tab" ng-click="setTab('Patient')">Patient</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Participants
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#healthProvider" data-toggle="tab" ng-click="setTab('HealthProvider')">Health Provider</a>
                </li>
                <li>
                    <a href="#viewer" data-toggle="tab" ng-click="setTab('Viewer')">Viewer</a>
                </li>
            </ul>
        </li>
        <li>
            <a data-toggle="tab" href="#queries">Queries</a>
        </li>
        <li>
            <a data-toggle="tab" href="#system">System</a>
        </li>
    </ul>

    <!-- Tab Content -->
    <div id="content" class="tab-content">

        <div id="patient" class="tab-pane fade in active">
            <h1>Patients</h1>
            <button type="button" class="btn btn-default" ng-click="addPatient()">Add Patient</button>
            <button type="button" class="btn btn-default" ng-click="getPatients()">Get Patients</button>
        </div>
        <div id="healthProvider" class="tab-pane fade">
            <h1>Health Providers</h1>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#hpModal">Add Health Provider</button>
            <button type="button" class="btn btn-default" ng-click="getData('HealthProvider')">Get Health Providers</button>
        </div>
        <div id="viewer" class="tab-pane fade">
            <h1>Viewers</h1>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#viewerModal">Add Viewer</button>
            <button type="button" class="btn btn-default" ng-click="getData('Viewer')">Get Viewers</button>
        </div>


        <div id="activeclaims" class="tab-pane fade">
            <!--Box to select claims -->
            <div>
                <h4>Select a Claim</h4>
                <p>Selected State Id: {{id}}</p>
                <div ng-repeat="info in unconsumedStates" class="list-group">
                    <button ng-click="selectState(info.state)" class="list-group-item">{{info.state.data.claim.claimNumber}}</button>
                </div>
            </div>


        </div>
    </div>

    <div class="container-fluid">
        <table class="table table-striped" style="width: 100%;">
            <tr>
                <th ng-repeat="(key, val) in myArray[0]">{{ key }}</th>
                <th>Options</th>
            </tr>
            <tr ng-repeat="row in myArray">
                <td ng-repeat="column in row ">
                    {{ column }}
                </td>
                <td><button type="button" class="btn btn-default" ng-click="editPatient($index)" ng-show="patientTab">Edit</button>
                <button type="button" ng-click="getId($index)" class="btn btn-default" data-toggle="modal" data-target="#recordModal">+</button>
                <button type="button" class="btn btn-default" ng-click="delete($index)">-</button></td>
            </tr>
        </table>
    </div>

    <div class="container-fluid">

        <!--Box to view response in JSON format -->
        <h4>Response data</h4>
        <pre id="json-renderer"></pre>
    </div>
</body>

</html>