<div>
    <nav>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
        </ul>
    </nav>

    <!-- Record Modal-->
    <div id="recordModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Record</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>ID:
                            <input type="text" ng-model="recordForm.id"> </p>
                        <p>Date:
                            <input type="text" ng-model="recordForm.record_date"> </p>
                        <p>Code:
                            <input type="text" ng-model="recordForm.record_code"> </p>
                        <p>Reason Code:
                            <input type="text" ng-model="recordForm.record_reasonCode"> </p>
                        <p>Reason Description:
                            <input type="text" ng-model="recordForm.record_reasonDesc"> </p>
                        <hr>
                        <p>Record type:
                            <select ng-model="selectedRecord.type" ng-options="type for type in types">
                            </select>
                        </p>
                    </div>

                    <!-- ALLERGIES -->
                    <div class="form-group" ng-show="selectedRecord.type=='Allergy'">
                        <p>Start Date:
                            <input type="text" ng-model="allergyForm.allergy_start"> </p>
                        <p>End Date:
                            <input type="text" ng-model="allergyForm.allergy_stop"> </p>
                        <p>Code:
                            <input type="text" ng-model="allergyForm.allergy_code"> </p>
                        <p>Description:
                            <input type="text" ng-model="allergyForm.allergy_desc"> </p>
                    </div>

                    <!-- PROCEDURE -->
                    <div class="form-group" ng-show="selectedRecord.type=='Procedure'">
                        <p>Date:
                            <input type="text" ng-model="procedureForm.procedure_date"> </p>
                        <p>Code:
                            <input type="text" ng-model="procedureForm.procedure_code"> </p>
                        <p>Description:
                            <input type="text" ng-model="procedureForm.procedure_desc"> </p>
                        <p>Reason Code:
                            <input type="text" ng-model="procedureForm.procedure_reasonCode"> </p>
                        <p>Reason Description:
                            <input type="text" ng-model="procedureForm.procedure_reasonDesc"> </p>
                    </div>
                    <!-- OBSERVATION -->
                    <div class="form-group" ng-show="selectedRecord.type=='Observation'">
                        <p>Date:
                            <input type="text" ng-model="observationForm.obs_date"> </p>
                        <p>Code:
                            <input type="text" ng-model="observationForm.obs_code"> </p>
                        <p>Description:
                            <input type="text" ng-model="observationForm.obs_desc"> </p>
                        <p>Value:
                            <input type="text" ng-model="observationForm.obs_value"> </p>
                        <p>Unit:
                            <input type="text" ng-model="observationForm.obs_units"> </p>
                    </div>

                    <!-- MEDICATION -->
                    <div class="form-group" ng-show="selectedRecord.type=='Medication'">
                        <p>Start Date:
                            <input type="text" ng-model="medicationForm.medication_start"> </p>
                        <p>End Date:
                            <input type="text" ng-model="medicationForm.medication_stop"> </p>
                        <p>Code:
                            <input type="text" ng-model="medicationForm.medication_code"> </p>
                        <p>Description:
                            <input type="text" ng-model="medicationForm.medication_desc"> </p>
                        <p>Reason Code:
                            <input type="text" ng-model="medicationForm.medication_reasonCode"> </p>
                        <p>Reason Description:
                            <input type="text" ng-model="medicationForm.medication_reasonDesc"> </p>
                    </div>

                    <!-- IMMUNIZATION -->
                    <div class="form-group" ng-show="selectedRecord.type=='Immunization'">
                        <p>Date:
                            <input type="text" ng-model="immunizationForm.imm_date"> </p>
                        <p>Code:
                            <input type="text" ng-model="immunizationForm.imm_code"> </p>
                        <p>Description:
                            <input type="text" ng-model="immunizationForm.imm_desc"> </p>
                    </div>

                    <!-- CONDITION -->
                    <div class="form-group" ng-show="selectedRecord.type=='Condition'">
                        <p>Start Date:
                            <input type="text" ng-model="conditionForm.cond_start"> </p>
                        <p>End Date:
                            <input type="text" ng-model="conditionForm.cond_stop"> </p>
                        <p>Code:
                            <input type="text" ng-model="conditionForm.cond_code"> </p>
                        <p>Description:
                            <input type="text" ng-model="conditionForm.cond_desc"> </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="submitRecord()" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
                </div>
                </br>
            </div>
        </div>
    </div>

    <!-- Tab Nav Bar-->
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#home" target="_self">Home</a>
        </li>
        <li>
            <a data-toggle="tab" href="#patients" ng-click="setTab('Patient')" target="_self">Patients</a>
        </li>
        <li>
            <a data-toggle="tab" href="#req" target="_self">Request Sharing</a>
        </li>
        <li>
            <a data-toggle="tab" href="#pk" ng-click="setTab('PatientKey')" target="_self">Patient Keys</a>
        </li>
        <li>
            <a data-toggle="tab" href="#notifications" ng-click="setTab('Notifications')" target="_self">Notifications</a>
        </li>
    </ul>

    <!-- Tab Content -->
    <div id="content" class="tab-content">

        <div id="home" class="tab-pane fade in active">
            <h1>My Identity</h1>
            <button type="button" class="btn btn-default" ng-click="getMe()">Refresh</button>

            <div class="container-fluid" id="hpArray">
                <table class="table table-striped" style="width: 100%;">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Address</th>
                    </tr>
                    <tr>
                        <td>{{hpArray.id}}</td>
                        <td>{{hpArray.name}}</td>
                        <td>{{hpArray.phone}}</td>
                        <td>{{hpArray.address}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="patients" class="tab-pane fade">
            <h1>Patients</h1>
            <button type="button" class="btn btn-default" ng-click="getPatients()">Get Patients</button>
            <div class="container-fluid" id="patientTable">
                <table class="table table-striped" style="width: 100%;">
                    <tr>
                        <th>ID</th>
                        <th>IRD</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Options</th>
                    </tr>
                    <tr ng-repeat="row in myArray">
                        <td>{{row.id}}</td>
                        <td>{{row.ird}}</td>
                        <td>{{row.first}}</td>
                        <td>{{row.last}}</td>
                        <td>
                            <button type="button" class="btn btn-default" ng-click="viewRecords($index)">View Records</button>
                            <button type="button" ng-click="getId($index)" class="btn btn-default" data-toggle="modal" data-target="#recordModal">+</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="req" class="tab-pane fade">
            <h1>Request a key</h1>
            <div class="form-group">
                <p>Patient's ID
                    <input type="text" ng-model="pid">
                </p>
            </div>
            <button type="button" class="btn btn-default" ng-click="reqKey()">Submit</button>

        </div>

        <div id="pk" class="tab-pane fade">
            <h2>Shared Patient Keys</h2>
            <div class="container-fluid" id="patientTable">
                <button type="button" class="btn btn-default" ng-click="getKeys()">Refresh</button>
                <table class="table table-striped" style="width: 50%;">
                    <tr>
                        <th>PID</th>
                        <th>Patient Key</th>
                    </tr>
                    <tr ng-repeat="row in keyArray">
                        <td>{{row.id}}</td>
                        <td>{{row.key}}</td>
                    </tr>
                </table>
            </div>

        </div>

        <div id="notifications" class="tab-pane fade">
            <h2>Notifications</h2>
            <div class="container-fluid" id="patientTable">
                <button type="button" class="btn btn-default" ng-click="refresh">Refresh</button>
                <table class="table table-striped" style="width: 50%;">
                    <tr>
                        <th>Time</th>
                        <th>Message</th>
                    </tr>
                    <tr ng-repeat="row in notiArray">
                        <td>{{row.time}}</td>
                        <td>{{row.msg}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>